/* your code */
th, td, table{
	border: 1px solid black;
	border-collapse: collapse;
	width: 100%;
	padding: 15px;
	align-items: center;
}

thead{
	background-color: lightblue;
	align-items: center;
	align-text: center;
}
